*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

h1, h2, h3,p {
  margin-bottom: 15px;
  color: #444;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center
  
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  display: inline;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin-right: 15px;
}

nav ul li a:hover {
  color: #007BFF;
}

.hero-section {
  /* background: #007BFF; */
  color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.hero-content p {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero-links a{
  margin: 10px 20px;
  font-weight: bold;
  font-size: 19px;
}

.info-section{
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
  box-shadow:  4px 4px 15px rgba(0,0,0,0.1);
  padding: 1rem;
}


button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.info-section{
  flex: 1;
  text-align: center;
  margin: 0 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 1rem;
}
.gallery{
  width: 100%;
  height: auto;
}
.gallery h2 {
  text-align: center;
 margin: 2rem 0;
}
img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 15px;
  border-radius: 5px;
}
.product-card {
  padding: 1rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
footer p, address {
  font-size: 14px;
}

/* General Footer */
footer p small {
  color: #ccc;
}
footer {
  text-align: center;
  padding: 20px;
  background: #262222;
  color: #fff;
  margin-top: 40px;
}

/* Services Section */

.services-section{
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin-top: 20px;
}
.services-section h2 {
  text-align: center;
  margin-bottom: 20px;
}
.services{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;

}


.table-services{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
  
}

.table-services h2 {
  margin: 20px 0;
}
table  {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 2px solid #333;
  
}
th, td {
  border: 2px solid #333;
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.embedded-section{
  margin: 40px 0;
  width: 100%;
}
/* General */
embed,object, iframe{
  width: 100%;
}

/* Contact */

.contact-section{
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 2rem;
}

.contact-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-section p {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

.contact-section ul {
  list-style-type: none;
  padding: 0;
}
.contact-section ul li {
  margin-bottom: 10px;
  text-align: center;
}
.contact-section ul li a  {
  display: inline-block;
    color: #007BFF;     
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}


/* Form style */

.form-section{
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 2rem;
}

form{
  text-align: center;
  width: 70%;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  /* background-color: #c7baba; */
}



input[type="text"], input[type="email"], input[type="tel"], input[type="password"],input[type="number"],input[type="date"],input[type="time"],input[type="datetime-local"], input[type="range"], select, textarea {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}





/* responsive */
@media (max-width: 768px) {

  header{
    flex-direction: column;
    align-items: center;
  }

  header nav ul li {
    /* display: block; */
    margin:0;
    font-size: 14px;
  }
.info-section{
    flex-direction: column;
    align-items: center;
}
  
}
